<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Contacts</title>
</head>

<body bgcolor="#eeeeee">
    <fieldset style="width:700px">
        <legend>Contacts</legend>
        <p th:if="${not #lists.isEmpty(contacts)}">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th align="left" width="30%" nowrap>First Name</th>
                        <th align="left" width="30%" nowrap>Last Name</th>
                        <th align="left" width="30%" nowrap>Email</th>
                        <th align="left" nowrap></th>
                        <th align="left" nowrap></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contact : ${contacts}">
                        <td th:text="${contact.firstName}" nowrap></td>
                        <td th:text="${contact.lastName}" nowrap></td>
                        <td th:text="${contact.email}"></td>
                        <td>
                            <a th:href="@{/edit/{id}(id=${contact.id})}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{/remove/{id}(id=${contact.id})}">Remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
        <p th:if="${#lists.isEmpty(contacts)}">No contacts found.</p>
        <p>
            <input type="button" value="Add" style="width:100px" onclick="window.location='/edit/<new>'">
        </p>
    </fieldset>

</body>

</html>